Source: rex-tomcat-deploy
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), perl (>= 5.10.0), rex (>= 0.1.2)
Standards-Version: 3.5.1
Homepage: https://github.com/krimdomu/rex-tomcat-deploy

Package: rex-tomcat-deploy
Architecture: all
Depends: perl (>= 5.10.0), rex (>= 0.1.2)
Description: Tomcat Deploy Plugin for (R)?ex
